@{
    ViewBag.Title = "Início";
}

@Styles.Render("~/Content/Site.css")

<fieldset>
    <div class="inicio">
        <div align="center">
            <p><b>Bem vindo!</b></p>
        </div>


        <div class="imagem-sushi">
            <img src="~/Content/imagens/logo.png" width="19%" height="20%" />
        </div>
    </div>
</fieldset>


