@{
    ViewBag.Title = "Início";
}

@Styles.Render("~/Content/css")

<center>
    <div>
        <p> Bem vindo, A!</p>
    </div>

</center>

    <div class="imagem-sushi">
        <img src="~/Content/imagens/sushi.jpg" width="320px" height="265px"/>
    </div>
