@{
    ViewBag.Title = "Início";
}

@Styles.Render("~/Content/Site.css")

<fieldset>
    <div align="center">
        <p><b>Bem vindo, A!</b></p>
    </div>


    <div class="imagem-sushi">
        <img src="~/Content/imagens/logo.png" width="18%" height="19%" />
    </div>

    <!--<footer>
        <hr />
        <div align="center">
            Rua João Carlino, 4 - SP, Brasil
        </div>
        <div align="center">
            <a href="mailto:Tomoe2sushi@gmail.com">Tomoe2sushi@gmail.com</a><br />
        </div>
    </footer>-->

</fieldset>


