
@{
    ViewBag.Title = "Perfil";
}

@Styles.Render("~/Content/css")

<div class="img-perfil">
    <img src="~/Content/imagens/gato.jpg" width="220px" height="220px" />
</div>

<center>
    <div>
        <p>Nome inserido</p>
    </div>

    <div class="text1">
        <p>Nome cadastrado</p>
        <p>CPF</p>
    </div>

    <div class="text2">
        <p>Função</p>
        <p>Telefone</p>
    </div>
</center>

