form {
    display: flex;
    height: 100%;
}

fieldset {
    margin: auto;
    display: flex;
}

.form-input {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-content: center;
}

.form-button {
    display: flex;
    justify-content: center;

}

.form-text-input {
    display: flex;
    justify-content: space-between;
    /*align-items: flex-start;*/
    margin-top: 15px;
}
.menu {
    margin-top: 0;
    margin-left: 0;
}
