html, body {
    height: 100%;
    color: black!important;
}
body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: black;
}

.navbar-wrapper {
    width: 15%;
    font-size: 18px;
    color: black !important;
    background-color: lightgray;
    text-decoration: none;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p{
    font-size: 20px;
}
.imagem-sushi {
    text-align: center;
    padding-top: 20px;
}

.nav-link {
    color: black !important;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    color: black !important;
}

.nav-cima {
    background-color: #1C1C1C;
    flex-direction:column-reverse;
}

.inicio{
    margin-top: 80px;
}


